<div class="relative w-full mx-auto px-4 sm:px-0 max-w-3xl">


  <!-- Slider -->
  <div class="relative overflow-hidden rounded-2xl shadow-lg z-20 border-2 border-orange-500">
    <div class="flex transition-transform duration-500" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
      <div *ngFor="let img of images" class="w-full flex-shrink-0">
        <img [src]="img" class="w-full max-h-[27rem] sm:h-[27rem] h-60 object-cover" />
      </div>
    </div>
  </div>

  <!-- Botón Anterior -->
  <button (click)="prev()"
    class="block absolute sm:left-[-3rem] left-2 top-1/2 transform -translate-y-1/2 text-white text-2xl sm:text-4xl p-2 rounded-full z-30 cursor-pointer bg-black/40 hover:bg-black/60">
    ‹
  </button>

  <!-- Botón Siguiente -->
  <button (click)="next()"
    class="block absolute sm:right-[-3rem] right-2 top-1/2 transform -translate-y-1/2 text-white text-2xl sm:text-4xl p-2 rounded-full z-30 cursor-pointer bg-black/40 hover:bg-black/60">
    ›
  </button>

</div>