<div class="w-full bg-[#252525] text-white py-2 px-6 navbar">
  <div class="grid grid-cols-3 items-center ">

    <!-- Logo (izquierda) -->
    <div class="flex items-center ">
      <img src="../../../../assets/img/slitherin-logo.png" alt="Logo Slytherin" class="w-10 h-10 object-contain" />
    </div>

    <!-- Nav centrado (columna del medio) -->
    <div class="flex justify-center gap-6" [ngClass]="{
      'block absolute top-full w-full p-4 md:static md:w-auto md:p-0': isMenuOpen,
      'hidden md:flex': !isMenuOpen
    }">
      <a routerLink="/home" routerLinkActive="text-gold" [routerLinkActiveOptions]="{ exact: true }"
        class="font-medium hover:text-gold transition-colors duration-200">Home</a>
      <a routerLink="/product" routerLinkActive="text-gold"
        class="font-medium hover:text-gold transition-colors duration-200">Products</a>
      <a routerLink="/profile" routerLinkActive="text-gold" [routerLinkActiveOptions]="{ exact: true }"
        class="font-medium hover:text-gold transition-colors duration-200">Profile</a>
      <a routerLinkActive="text-gold" [routerLinkActiveOptions]="{ exact: true }" (click)="viewCarModal()"
        class="font-medium relative hover:text-gold transition-colors duration-200 cursor-pointer">
        Cart
        <span class="absolute -top-1.5 -right-3 text-xs bg-red-500 text-white rounded-full px-1">
          {{cart.length}}</span>
      </a>
    </div>

    <!-- Monedas + usuario (derecha) -->
    <div class="flex items-center justify-end gap-4 text-sm">
      <!-- Monedas -->
      <div class="flex items-center gap-3">
        <div class="flex items-center gap-1">
          <span class="px-1">{{user.price_galeon}}</span>
          <img src="../../../../assets/img/galleon.png" alt="Galleon" class="w-5 h-5" />
        </div>
        <div class="flex items-center gap-1">
          <span class="px-1">{{user.price_sickle}}</span>
          <img src="../../../../assets/img/icon-sickle.png" alt="Sickle" class="w-5 h-5" />
        </div>
        <div class="flex items-center gap-1">
          <span class="px-1">{{user.price_knut}}</span>
          <img src="../../../../assets/img/icon-knut.png" alt="Knut" class="w-5 h-5" />
        </div>
      </div>

      <!-- Usuario -->
      <div class="flex items-center gap-2">
        <span>{{user.name}}</span>
        <img src="#" alt="User" class="w-8 h-8 rounded-full bg-white" />
      </div>
    </div>

  </div>
</div>