<div class="w-full bg-[#252525] text-white py-2 px-6 navbar">
  <div class="grid grid-cols-3 items-center ">

    <!-- Logo (izquierda) -->
    <div class="flex items-center ">
      <img src="../../../../assets/img/slitherin-logo.png" alt="Logo Slytherin" class="w-10 h-10 object-contain" />
    </div>

    <!-- Nav centrado (columna del medio) -->
    <div class="flex justify-center gap-6" [ngClass]="{
      'block absolute top-full w-full p-4 md:static md:w-auto md:p-0': isMenuOpen,
      'hidden md:flex': !isMenuOpen
    }">
      <a routerLink="/home" routerLinkActive="text-gold" [routerLinkActiveOptions]="{ exact: true }"
        class="font-medium hover:text-gold transition-colors duration-200">Home</a>
      <a routerLink="/product" routerLinkActive="text-gold"
        class="font-medium hover:text-gold transition-colors duration-200">Products</a>
      <a routerLink="/profile" routerLinkActive="text-gold" [routerLinkActiveOptions]="{ exact: true }"
        class="font-medium hover:text-gold transition-colors duration-200">Profile</a>
      <a routerLinkActive="text-gold" [routerLinkActiveOptions]="{ exact: true }" (click)="viewCarModal()"
        class="font-medium relative hover:text-gold transition-colors duration-200 cursor-pointer">
        Cart
        <span class="absolute -top-1.5 -right-3 text-xs bg-red-500 text-white rounded-full px-1">
          {{cart.length}}</span>
      </a>
    </div>
    <!-- Monedas + usuario (derecha) -->
    <div class="flex items-center justify-end gap-2 text-xs flex-nowrap ml-auto">
      <!-- Monedas -->
      <div class="flex items-center gap-2 shrink-0">
        <div class="flex items-center gap-1">
          <span class="truncate max-w-[40px]">{{ user.price_galeon }}</span>
          <img src="../../../../assets/img/galleon.png" alt="Galleon" class="w-4 h-4" />
        </div>
        <div class="flex items-center gap-1">
          <span class="truncate max-w-[40px]">{{ user.price_sickle }}</span>
          <img src="../../../../assets/img/icon-sickle.png" alt="Sickle" class="w-4 h-4" />
        </div>
        <div class="flex items-center gap-1">
          <span class="truncate max-w-[40px]">{{ user.price_knut }}</span>
          <img src="../../../../assets/img/icon-knut.png" alt="Knut" class="w-4 h-4" />
        </div>
      </div>

      <!-- Usuario -->
      <div class="flex items-center gap-1 cursor-pointer shrink-0" (click)="modalOpenLogin = true">
        <span class="truncate max-w-[70px]">{{ user.name }}</span>
        <img [src]="user.image_user || '../../../../assets/img/foto_user_visitante.png'" alt="User"
          class="w-6 h-6 rounded-full bg-white" />
      </div>
    </div>



  </div>
</div>
@if (modalOpenLogin) {
<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-70 z-50">
  <div class="relative bg-[#0a2c23] text-white rounded-2xl shadow-2xl w-full max-w-md p-6 border border-orange-400">

    <button (click)="modalOpenLogin = false"
      class="absolute top-2 right-4 text-green-400 hover:text-red-500 text-xl font-bold transition duration-300">
      ✖
    </button>

    <div class="flex flex-col items-center mb-4">
      <img src="../../../../assets/img/slitherin-logo.png" alt="Logo Slytherin" class="w-20 h-20 object-contain mb-2" />
      <h3 class="text-2xl font-semibold text-center text-green-400 mb-4">
        ¡Bienvenido! El rincón oscuro te recibe.
      </h3>
    </div>

    <p class="text-center text-green-200 mb-6">
      Bienvenido al rincón prohibido del Callejón Knockturn. <br />
      Ya seas nigromante, acólito o merodeador de las sombras... <br />
      aquí tus deseos más oscuros encontrarán su cauce.
    </p>

    <input #nicknameUserLogin type="text" placeholder="Ej. daemon.soul"
      class="w-full p-3 rounded-lg bg-green-100 text-black placeholder-gray-600 mb-3 focus:outline-none focus:ring-2 focus:ring-green-400" />

    <p class="text-center text-green-200 mb-6">
      Por favor, ingresa tu nickname para comenzar tu aventura mágica.
    </p>

    <div class="flex gap-3">
      <button (click)="modalOpenRegister = true"
        class="bg-gradient-to-r from-gray-700 to-gray-900 hover:from-sky-700 hover:to-sky-900 text-white font-bold py-2 px-4 rounded-lg w-full shadow-lg transition duration-300">
        Registrar
      </button>
      <button (click)="loginUser()"
        class="bg-gradient-to-r from-green-700 to-emerald-900 hover:from-green-600 hover:to-emerald-800 text-white font-bold py-2 px-4 rounded-lg w-full shadow-lg transition duration-300">
        Ingresar
      </button>
    </div>
  </div>
</div>
}

@if (modalOpenRegister) {
<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-70 z-50">
  <div class="bg-[#0a2c23] text-white rounded-2xl shadow-2xl w-full max-w-md p-6 border border-orange-400 relative">

    <button (click)="modalOpenRegister = false"
      class="absolute top-3 right-3 text-green-200 hover:text-red-500 text-2xl font-bold">&times;</button>

    <div class="flex flex-col items-center mb-4">
      <img src="../../../../assets/img/slitherin-logo.png" alt="Logo Slytherin" class="w-20 h-20 object-contain mb-2" />
      <h3 class="text-2xl font-semibold text-center text-green-400 mb-2">
        Registro Arcano del Callejón Knockturn
      </h3>
    </div>

    <p class="text-center text-green-200 mb-4">
      Aquel que se atreva a comerciar con lo prohibido, debe dejar constancia de su identidad y riquezas.
    </p>

    <form [formGroup]="registroForm" class="space-y-4 text-green-200">
      <div>
        <label for="nickname" class="block text-sm font-medium mb-1">Nickname oscuro</label>
        <input formControlName="nickname" id="nickname" type="text" placeholder="Ej. umbra.sanguis"
          class="w-full p-3 rounded-lg bg-green-100 text-black placeholder-gray-600 focus:outline-none focus:ring-2 focus:ring-green-400" />
      </div>

      <div>
        <label for="price_galleon" class="block text-sm font-medium mb-1">Cantidad de Galeones</label>
        <input formControlName="price_galleon" id="price_galleon" type="number" placeholder="Ej. 10"
          class="w-full p-3 rounded-lg bg-green-100 text-black placeholder-gray-600 focus:outline-none focus:ring-2 focus:ring-green-400" />
      </div>

      <div>
        <label for="price_sickle" class="block text-sm font-medium mb-1">Cantidad de Sickles</label>
        <input formControlName="price_sickle" id="price_sickle" type="number" placeholder="Ej. 25"
          class="w-full p-3 rounded-lg bg-green-100 text-black placeholder-gray-600 focus:outline-none focus:ring-2 focus:ring-green-400" />
      </div>

      <div>
        <label for="price_knut" class="block text-sm font-medium mb-1">Cantidad de Knuts</label>
        <input formControlName="price_knut" id="price_knut" type="number" placeholder="Ej. 74"
          class="w-full p-3 rounded-lg bg-green-100 text-black placeholder-gray-600 focus:outline-none focus:ring-2 focus:ring-green-400" />
      </div>

      @if(msgErrorForm){
      <span class="text-red-500 text-sm font-semibold">Formulario no válido. Revisa tus datos sombríos...</span>
      }
    </form>


    <div class="flex gap-2 mt-6">

      <button (click)="modalOpenRegister = false"
        class="w-full bg-gradient-to-r from-gray-600 to-gray-500 hover:from-gray-700 hover:to-gray-600 text-white font-bold py-2 px-4 rounded-lg transition duration-200">
        Cancelar
      </button>
      <button (click)="registerUser()" (click)="modalOpenRegister=false"
        class="w-full bg-gradient-to-r from-green-800 to-green-600 hover:from-green-700 hover:to-green-500 text-white font-bold py-2 px-4 rounded-lg transition duration-200">
        Registrar
      </button>
    </div>
  </div>
</div>

}

@if (registroExitoso) {
<div
  class="fixed top-6 right-6 max-w-sm bg-gradient-to-br from-[#0a2c23] via-[#112d2a] to-black border border-green-600 shadow-[0_0_20px_2px_rgba(34,197,94,0.6)] text-green-200 px-6 py-5 rounded-xl z-50 backdrop-blur-sm flex items-start space-x-3 animate-fade-in-out transform transition-transform duration-500">

  <svg class="w-7 h-7 text-green-400 animate-pulse" fill="none" stroke="currentColor" stroke-width="2"
    viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
  </svg>

  <div>
    <h4 class="text-lg font-bold text-green-300 mb-1 tracking-wide">Hecho está...</h4>
    <p class="text-sm text-green-200 leading-tight">
      Has sellado tu nombre en las sombras.<br />
      La tienda ya te reconoce como uno de los suyos.
    </p>
  </div>
</div>
}